<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DowntownBoiseAssociation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DowntownBoiseAssociation.Properties.Settings.DBADevConnectionString"
      connectionString="Data Source=ch-dbweb;Initial Catalog=DBAProduction_test_2;Persist Security Info=True;User ID=DBAProduction;Password=COB2DBAData1"
      providerName="System.Data.SqlClient" />
    <add name="DowntownBoiseAssociation.Properties.Settings.ReportServerConnectionString"
      connectionString="Data Source=ch-dbweb;Initial Catalog=ReportServer;Persist Security Info=True;User ID=DBAProduction;Password=COB2DBAData1"
      providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <add key="DBA_ReportServer" value="http://ch-dbweb/reportserver"/>
    <!--<add key="DBA_ReportServer" value="http://ch-webdb-dev/reportserver" />-->
    <add key="DBA_ReportPath" value="/DowntownBoiseAssociation/Reports"/>
    <!--<add key="DBA_ReportPath" value="/DowntownBoiseAssociation/Reports" />-->
    <add key="DBA_ReportUserName" value="DBAReportUser"/>
    <add key="DBA_ReportUserPassword" value="COB2DBAReport1"/>
    <add key="DBA_ReportUserDomain" value="boise"/>
    <add key="DBA_InvoiceReport" value="arrpt_Building_Single_Statements_with_Invoice_Detail"/>
    <add key="DBA_StatementReport" value="arrpt_Single_Statement"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LateFee" value="0.05"/>
  </appSettings>
  <applicationSettings>
    <DowntownBoiseAssociation.Properties.Settings>
      <setting name="DowntownBoiseAssociation_Reports_ReportServer_ReportingService2005"
        serializeAs="String">
        <value>http://CH-DBWEB:80/ReportServer/ReportService2005.asmx</value>
      </setting>
    </DowntownBoiseAssociation.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>

</configuration>
